@import "bootstrap/scss/functions";
@import "bootstrap/scss/bootstrap";

@import './variables';


img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
  margin-right: 5px; /* 加點邊距 */
}

.secondary-image {
  width: 100%;
  height: 200px;
}